<% layout("/layouts/boilerplate") %>
  <body>
    <div class="row mt-3">
      <div class="col-8 offset-2">
        <h3><%= listing.title %></h3>
      </div>  
        <div class="card col-6 offset-2">
          <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
          <div class="card-body">
           <p class="card-text">
            <li><%= listing.description %></li>
            <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
            <li><%= listing.location %></li>
            <li><%= listing.country %></li>
           </p>
          </div>
        </div>

        <div class="edit-del mb-3">
          <a href="/listings/<%= listing._id %>/edit">
            <button type="button" class="btn btn-outline-info">Edit</button>
            </a>
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
              <button class="btn btn-outline-danger">Delete</button>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Want to Delete</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Confirm to Delete</label>
              </div>
            </form>
        </div>


    </div>
  </body>


